* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(
    to right,
    #b58ffe,
    #bc9cfa,
    #c2a8f7,
    #c9b4f2,
    #cfc0ee
  );
}

.navbar {
  background-image: linear-gradient(
    to right,
    #a477f9,
    #a87ff8,
    #ad86f7,
    #b18ef6,
    #b595f5
  );
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-main {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
}

@media (max-width: 800) {
  .form-main {
    width: 70%;
  }
}

.form {
  padding-bottom: 40px;
  border: 2px solid #a87ff8;
  border-radius: 30px;
}

.btn {
  width: 80%;
  background-color: #6b46c1; /* strong purple */
  color: white;
  margin: 30px 10%;
  padding: 5px 2px;
  border-style: none;
  border-radius: 20px;
}

.btn:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.btns {
  display: flex;
}
