.title-cards{
    margin-top: 50px;
    margin-bottom: 30px;
}

.title-cards h2{
    margin-bottom: 8px;
}

.card-list{
    display: flex;
    gap:10px;
    overflow: scroll;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-list::-webkit-scrollbar{
    display: none;
}

.card-list img{
    width: 250px;
    border-radius:4px ;
    cursor: pointer;
    height: 300px;
    object-fit: cover;

}

.card-list .card{
    position: relative;
}

.card-list .card p{
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #fff ;
}