.inputbox-main {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.label {
  font-size: 20px;
  padding: 5px;
  margin-top: 8px;
  font-weight: 600;
}

.inputbox {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: rgb(226, 232, 240);
  color: rgb(100, 116, 139);
  font-size: 16px;
  padding: 10px;
  border-style: none;
}
